<div class="col-10 mx-auto">
  <h3>新規会員登録</h3><br>
    <%= form_with model: @customer, local: true do |f| %>
    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">名前</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :last_name, autofocus: true, placeholder: "姓", class: "form-control" %>
      </div>
      <div class="col my-1">
        <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">フリガナ</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :last_name_kana, placeholder: "セイ", class: "form-control" %>
      </div>
      <div class="col my-1">
        <%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">メールアドレス</label>
      </div>
      <div class="col my-1">
        <%= f.email_field :email, autocomplete: "email", placeholder: "musuka@laputa4.com", class: "form-control w-75" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">郵便番号(ハイフンなし)</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :postal_code, placeholder: "1112222", class: "form-control w-50" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">住所</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :address, placeholder: "長野県松本市333", class: "form-control d-inline w-75" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">電話番号（ハイフンなし）</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :telephone_number, placeholder: "09099998888", class: "form-control d-inline w-50" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">
          パスワード
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
          <% end %>   
        </label>
      </div>
      <div class="col my-1">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom"> 
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">パスワード(確認用)</label>
      </div>
      <div class="col my-1">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
      </div>
    </div>
    <div class="row py-1 mt-1 mb-5">
      <div class="col-12 col-sm-4"></div>
      <div class="col my-1">
        <%= f.submit "新規登録", class: "btn btn-success w-100" %>
      </div>
      <div class="col-12 col-sm-4 my-1"></div>
    </div>
    <% end %>
  <h4>既にご登録済みの方</h4><br>
  <%= link_to "こちら", new_customer_session_path %>からログインしてください。
</div>