<div class="col-12 mx-auto">
      <h2>商品詳細</h2>
      <br>

  <div class="col-5"><%= attachment_image_tag @item, :image, :fill, 320, 240, format: 'jpeg' %></div>

  <br>
        <div class="row py-1 my-1 border-bottom">
            <div class="col-12 col-sm-4 my-1">
              <label class="font-weight-bold m-1">商品名</label>
            </div>
              <div class="col my-1">
               <%= @item.name %>
              </div>
        </div>

        <div class="row py-1 my-1 border-bottom">
            <div class="col-12 col-sm-4 my-1">
              <label class="font-weight-bold m-1">商品説明</label>
            </div>
              <div class="col my-1">
               <%= @item.introduction %>
              </div>
        </div>

        <div class="row py-1 my-1 border-bottom">
            <div class="col-12 col-sm-4 my-1">
              <label class="font-weight-bold m-1">ジャンル</label>
            </div>
              <div class="col my-1">
               <%= @item.genre.name %>
              </div>
        </div>

        <div class="row py-1 my-1 border-bottom">
            <div class="col-12 col-sm-4 my-1">
              <label class="font-weight-bold m-1">税抜価格
                                                (税抜き価格)
              </label>
            </div>
              <div class="col my-1">
               <%= (@item.price*1.1).floor.to_s %>
               (<%= (@item.price).floor.to_s %>)円
              </div>
        </div>

        <div class="row py-1 my-1 border-bottom">
            <div class="col-12 col-sm-4 my-1">
              <label class="font-weight-bold m-1">販売ステータス</label>
            </div>
              <div class="col my-1">
                 <% if @item.is_active == true%>
                   <font color="lawngreen">販売中</font>
                 <% else %>
                   <font color="lightgray">売りきれ</font>
                　<% end %>
              </div>
        </div>



    <div class="row py-1 mt-1 mb-5">
      <div class="col my-1">
          <%= link_to "編集する", edit_admin_item_path(@item),class: " btn btn-success pull-right" %>
        </div>
    </div>
</div>
