<div class="col-12">
 <div class="top-image">
  <div class="top-image-text">
   <p>ようこそ、ながのCAKEへ！</p>
   <p>このサイトは、ケーキ販売のECサイトになります。</p>
   <p>会員でない方も商品の閲覧はできますが、</p>
   <p>購入には会員登録が必要になります。</p>
  </div> 
 </div>
</div>
<div class="col-12 mt-5">
<h1>新着商品</h1>
</div>
<div class="row mt-4">
<% @new_items.each do |item| %>
 <div class="col-sm-3">
  <%= link_to item_path(item) do %>
   <%= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg' %>
  <% end %>
 </div>
<% end %>
<% @new_items.each do |item| %>
 <div class="col-sm-3">
  <h5><%= item.name %></h5>
 </div>
<% end %>
<% @new_items.each do |item| %>
 <div class="col-sm-3">
  <p>￥<%= item.price %></p>
 </div>
<% end %>
</div>    
<div class="col-sm-3 offset-md-9">
<%= link_to "全ての商品を見る　＞", admin_items_path, class: "nav-link" %>
</div>