<div class="col-10 mx-auto">
  <h4 class="mb-5"><%=  @customer.last_name  %><%=  @customer.first_name  %>さんの会員情報編集</h4>

  <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>


  <div class="row">

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">名前</label>
    </div>
    <div class="col my-1"><%= f.text_field :last_name, placeholder: "姓", class: "form-control w-75" %></div>
    <div class="col my-1"><%= f.text_field :first_name, placeholder: "名", class: "form-control w-75" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">フリガナ</label>
    </div>
    <div class="col my-1"><%= f.text_field :last_name_kana, placeholder: "セイ", class: "form-control w-75" %></div>
    <div class="col my-1"><%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control w-75" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">郵便番号</label>
    </div>
    <div class="col my-1"><%= f.text_field :postal_code, class: "form-control w-75" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">住所</label>
    </div>
    <div class="col my-1"><%= f.text_field :address, class: "form-control" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">電話番号</label>
    </div>
    <div class="col my-1"><%= f.text_field :telephone_number, class: "form-control w-75" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">メールアドレス</label>
    </div>
    <div class="col my-1"><%= f.email_field :email, autocomplete: "email", class: "form-control w-75" %></div>

    <div class="col-12 col-md-6 ">
      <label class="font-weight-bold m-1">会員ステータス</label>
    </div>
    <div class="col my-1"><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", {value: :false} %>　　　<%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", {value: :true} %></div>

    <div class="col-12 col-md-6 ">
      
    </div>
    <div class="col my-1"><%= f.submit "変更を保存", class: "btn btn-success " %></div>

  </div>
  <% end %>
</div>