<div class="col-10 mx-auto">
  <h3>注⽂履歴詳細</h3><br>
  
    <table class="table">
      <tr>
        <th>購入者</th>
        <th><%= @order.name %></th>
      </tr>
      <tr>
        <th>注文日</th>
        <th><%= @order.created_at %></th>
      </tr>
      <tr>
        <th>配送先</th>
        <th>〒<%= @order.postal_code %> <%= @order.address %></br><%= @order.name %></th>
      </tr>
      <tr>
        <th>支払い方法</th>
        <th><%= @order.payment_method %></th>
      </tr>
      <tr>
        <%= form_with model: @order, url:admin_order_path, method: :patch, local: true do |f| %>
        <th>注文ステータス</th>
        <th><%= f.collection_select :status, @order, :id, :name %></th>
        <th><%= f.submit class: 'btn btn-success' %></th>
        <% end %>
      </tr>
    </table>
    
</div>