<div class="col-12 mx-auto">
  <h3>注⽂履歴詳細</h3><br>

  <div class="row col-12 col-md-9 mb-5 align-items-top">

    <div class="col-12 col-md-3 ">
      <label class="font-weight-bold ">購入者</label>
    </div>
    <div class="col col-md-9 mb-3 ">
      <%= link_to admin_customer_path(@order.customer_id) do %>
        <%= @order.customer.last_name %> <%= @order.customer.first_name %>
      <% end %>
    </div>


    <div class="col-12 col-md-3 ">
      <label class="font-weight-bold ">注文日</label>
    </div>
    <div class="col col-md-9 mb-3"><%= @order.created_at.strftime('%Y/%m/%d') %></div>


    <div class="col-12 col-md-3 ">
      <label class="font-weight-bold ">配送先</label>
    </div>
    <div class="col col-md-9 mb-3">〒 <%= @order.postal_code.slice(0,3) %>-<%= @order.postal_code.slice(3,4) %> <%= @order.address %></br><%= @order.name %></div>


    <div class="col-12 col-md-3 ">
      <label class="font-weight-bold ">支払い方法</label>
    </div>
    <div class="col col-md-9 mb-3"><%= @order.payment_method %></div>


    <div class="col-12 col-md-3 ">
      <%= form_with model: @order, url:admin_order_path, method: :patch, local: true do |f| %>
      <label class="font-weight-bold ">注文ステータス</label>
    </div>
    <div class="col col-md-9 mb-3"><%= f.select :status, Order.statuses.keys.map %> <%= f.submit "更新", class: 'btn btn-success btn-sm' %></div>
      <% end %>

  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mb-3">

      <div class="row bg-light align-items-center border">
        <div class="font-weight-bold col">商品名</div>
        <div class="font-weight-bold col d-none d-sm-block">単価（税込）</div>
        <div class="font-weight-bold col d-none d-sm-block">数量</div>
        <div class="font-weight-bold col d-none d-sm-block">小計</div>
        <div class="font-weight-bold col">制作ステータス</div>
      </div>

      <% @order_details.each do |order_detail| %>
        <div class="row align-items-center border py-1">
          <div class="col"><%= order_detail.item.name %></div>
          <div class="col d-none d-sm-block"><%= (order_detail.item.price * 1.1).floor.to_s(:delimited) %></div>
          <div class="col d-none d-sm-block"><%= order_detail.amount %></div>
          <div class="col d-none d-sm-block"><%= ((order_detail.item.price * 1.1) * order_detail.amount).floor.to_s(:delimited) %></div>
          <div class="col">
            <%= form_with model: order_detail, url:admin_order_detail_path(order_detail.id), method: :patch, local: true do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.map %>
              <%= f.submit "更新", class: 'btn btn-success btn-sm' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


    <div class="col-12 col-lg-3 mb-3 offset-lg-1">

      <div class="row border">
          <div class="col-12 col-sm-4 bg-light align-items-center">
              <div class="font-weight-bold py-2">商品合計</div>
          </div>
          <div class="col py-2">¥ <%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></div>
      </div>
      <div class="row border border-top-0">
          <div class="col-12 col-sm-4 bg-light align-items-center">
              <div class="font-weight-bold py-2">送料</div>
          </div>
          <div class="col py-2">¥ <%= @order.shipping_cost.to_s(:delimited) %></div>
      </div>
      <div class="row border border-top-0">
          <div class="col-12 col-sm-4 bg-light align-items-center">
              <div class="font-weight-bold py-2">請求合計金額</div>
          </div>
          <div class="col py-2">¥ <%= @order.total_payment.to_s(:delimited) %></div>
      </div>
    </div>
  </div>
</div>