 <!-- レイアウト未調整 -->
<div class='col-md-3'>
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">　配送先登録/一覧</li>
  </ol>
 </nav>
</div>

<div class='col-md-12'>
<%= form_with model:@address, local:true do |f| %>
  <%= f.label :"郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code, :placeholder => "0000000", class: 'form-control book_title' %>
  <%= f.label :住所 %>
  <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", class: 'form-control book_title' %>
  <%= f.label :宛名 %>
  <%= f.text_field :name, :placeholder => "令和道子", class: 'form-control book_title' %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
</div>

<div class='col-md-12'>
 <table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <% @addresses.each do |address| %>
   <tbody>
     <tr>
       <td><%= address.postal_code %></td>
       <td><%= address.address %></td>
       <td><%= address.name %></td>
       <td>
         <%= link_to '編集する',edit_address_path(address),class: "btn btn-success fas fa-address-cog edit_address_#{address.id}" %>
         <%= link_to '削除する',address_path(address), method: :delete, class: "btn btn-danger fas fa-address-cog edit_address_#{address.id}" %>
       </td>
     </tr>
   </tbody>
  <% end %>
 </table>
</div>







