<div class="col-12">
  <h2>注文履歴一覧</h2>
  <div class="row flex-nowrap bg-light align-items-center border">
    <div class="col-2 col-lg-1">
      <span class="d-none d-sm-inline">注文日</span>
      <span class="d-iniline d-sm-none">日時</span>
    </div>
    <div class="col d-none d-sm-block">配送先</div>
    <div class="col d-none d-sm-block">注文商品</div>
    <div class="col"><span class="d-none d-sm-inline">支払</span>金額</div>
    <div class="col">
      <span class="d-none d-sm-inline">ステータス</span>
      <span class="d-iniline d-sm-none">状況</span>
    </div>
    <div class="col"><span class="d-none d-sm-inline">注文</span>詳細</div>
  </div>
  <% @orders.each do |order| %>
    <div class="row flex-nowrap align-items-center border py-1">
      <div class="col-2 col-lg-1"><%= order.created_at.strftime('%m/%d') %></div>
      <div class="col d-none d-sm-block">
        〒<%= order.postal_code %><br>
        <%= order.address %><br>
        <%= order.name %>
      </div>
      <div class="col d-none d-sm-block">
        <% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %><br>
        <% end %>
      </div>
      <div class="col"><%= order.total_payment.to_s(:delimited) %></div>
      <div class="col"><%= order.status %></div>
      <div class="col">
        <span class="d-none d-sm-inline">
          <%= link_to "表示する", order_path(order), class: "btn btn-primary" %>
        </span>
        <span class="d-inline d-sm-none">
          <%= link_to "表示", order_path(order), class: "btn btn-primary" %>
        </span>
      </div>
    </div>
  <% end %>
</div>

