            <div class="col-10 mx-auto">
                <div class="d-flex justify-content-center">
                <div class="col-5"><%= attachment_image_tag @item, :image, :fill, 320, 240, format: 'jpeg' %></div>
                <div class=" col-5 align-self-center font-weight-bold">
                    <p><%= @item.name %></p>
                    </p><%= @item.introduction %></p>
                    </p>￥<%= (@item.price * 1.1).floor.to_s(:delimited) %></p>
                    <% if customer_signed_in? %>
                        <% if @item.is_active == true %>
                            <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
                                <%= f.hidden_field :item_id, :value => @item.id %>
                                <%= f.hidden_field :customer_id, :value => current_customer.id %>
                                <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10],{ include_blank: "個数"},{ class: "col-3 custom-select"} %>
                                <%= f.submit "カートに入れる", class: "btn btn-success" %>
                                <% end %>
                        <% else %>
                            <button class="btn btn-danger">売り切れ中</button>
                        <% end %>
                    <% else %>
                        <p>新規登録、ご購入いただけます</p>
                        <button class="btn btn-outline-secondary">新規登録</button>
                        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
                    <% end %>
                </div>
                </div>
            </div>
