<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light mb-4", style="background-color: #eddcbc;">
        <%= link_to root_path do %>
         <%= image_tag 'logo300.jpeg' ,size: '110x90', class: "img-fluid" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-3">
            <% if admin_signed_in? %>
              <li class="nav-item mx-2"><%= link_to "商品一覧", admin_items_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "会員一覧", admin_customers_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
            <% elsif customer_signed_in? %>
              <li class="nav-item mx-2"><%= link_to "マイページ", my_page_customers_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "商品一覧", items_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "カート", cart_items_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item mx-2"><%= link_to "About", about_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "商品一覧", items_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログイン", new_customer_session_path, class: "nav-link" %></li>
            <% end %>
          </ul>
          <% if admin_signed_in? %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <% end %>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="container mt-5">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    
    <footer class="container mt-5 mw-100" style="background-color: #eddcbc;">
  	  <div class="row">
    	  <div class="mx-auto">
    		  <div class="py-3">CopyRight NaganoCake.inc</div>
    	  </div>
      </div>
    </footer>
    
  </body>
</html>
